<a href="https://colab.research.google.com/github/AkashCharles/Skill-Up/blob/main/ADS_Phase_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Importing and reading the CSV file

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [13]:
data = pd.read_csv("MSFT.csv")
print("\n")

Data Preprocessing

In [37]:
data_cleaned = data.drop_duplicates()  # Remove duplicates
data_cleaned = data_cleaned.dropna()   # Remove rows with missing values
print(data_cleaned)
print(data_cleaned.head())

            Date        Open        High         Low       Close   Adj Close  \
0     1986-03-13    0.088542    0.101563    0.088542    0.097222    0.062549
1     1986-03-14    0.097222    0.102431    0.097222    0.100694    0.064783
2     1986-03-17    0.100694    0.103299    0.100694    0.102431    0.065899
3     1986-03-18    0.102431    0.103299    0.098958    0.099826    0.064224
4     1986-03-19    0.099826    0.100694    0.097222    0.098090    0.063107
...          ...         ...         ...         ...         ...         ...
8520  2019-12-31  156.770004  157.770004  156.449997  157.699997  157.699997
8521  2020-01-02  158.779999  160.729996  158.330002  160.619995  160.619995
8522  2020-01-03  158.320007  159.949997  158.059998  158.619995  158.619995
8523  2020-01-06  157.080002  159.100006  156.509995  159.029999  159.029999
8524  2020-01-07  159.320007  159.669998  157.330002  157.580002  157.580002

          Volume
0     1031788800
1      308160000
2      133171200
3       67766400
4       47894400
...          ...
8520    18369400
8521    22622100
8522    21116200
8523    20813700
8524    18017762

[8525 rows x 7 columns]
         Date      Open      High       Low     Close  Adj Close      Volume
0  1986-03-13  0.088542  0.101563  0.088542  0.097222   0.062549  1031788800
1  1986-03-14  0.097222  0.102431  0.097222  0.100694   0.064783   308160000
2  1986-03-17  0.100694  0.103299  0.100694  0.102431   0.065899   133171200
3  1986-03-18  0.102431  0.103299  0.098958  0.099826   0.064224    67766400
4  1986-03-19  0.099826  0.100694  0.097222  0.098090   0.063107    47894400

In [25]:
print(data.columns)

closing_price = data['Close']

print(closing_price.head())

Index(['Date', 'Open', 'High', 'Low', 'Close', 'Adj Close', 'Volume'], dtype='object')
0    0.097222
1    0.100694
2    0.102431
3    0.099826
4    0.098090
Name: Close, dtype: float64

Feature Engineering

In [39]:
data['EMA_10'] = data['Close'].ewm(span=10, adjust=False).mean()

data['Rolling_20D_Std'] = data['Close'].rolling(window=20).std()

print(data[['EMA_10', 'Rolling_20D_Std']])

          EMA_10  Rolling_20D_Std
0       0.097222              NaN
1       0.097853              NaN
2       0.098686              NaN
3       0.098893              NaN
4       0.098747              NaN
...          ...              ...
8520  156.875304         3.181938
8521  157.556157         3.232283
8522  157.749582         3.092043
8523  157.982385         2.906402
8524  157.909225         2.760116

[8525 rows x 2 columns]

Model Selection and Model Training

In [32]:
from statsmodels.tsa.arima.model import ARIMA

model = ARIMA(train_data['Close'], order=(1, 1, 1))
model_fit = model.fit()

print(model_fit.summary())

                               SARIMAX Results
==============================================================================
Dep. Variable:                  Close   No. Observations:                 6820
Model:                 ARIMA(1, 1, 1)   Log Likelihood               -4862.683
Date:                Sun, 01 Oct 2023   AIC                           9731.366
Time:                        08:54:45   BIC                           9751.849
Sample:                             0   HQIC                          9738.434
                               - 6820
Covariance Type:                  opg
==============================================================================
                 coef    std err          z      P>|z|      [0.025      0.975]
------------------------------------------------------------------------------
ar.L1         -0.3583      0.144     -2.491      0.013      -0.640      -0.076
ma.L1          0.3257      0.146      2.229      0.026       0.039       0.612
sigma2         0.2437      0.001    199.022      0.000       0.241       0.246
===================================================================================
Ljung-Box (L1) (Q):                   0.01   Jarque-Bera (JB):            158948.69
Prob(Q):                              0.91   Prob(JB):                         0.00
Heteroskedasticity (H):             151.19   Skew:                            -0.56
Prob(H) (two-sided):                  0.00   Kurtosis:                        26.63
===================================================================================

Warnings:
[1] Covariance matrix calculated using the outer product of gradients (complex-step).

Evaluation

In [36]:
from sklearn.metrics import mean_absolute_error

predictions = model_fit.forecast(steps=len(test_data))
mae = mean_absolute_error(test_data['Close'], predictions)

print("Mean Absolute Error (MAE):", mae)

Mean Absolute Error (MAE): 41.660530278711995